<!-- <h1>Deaf Aunty</h1>

<p>Say something to Aunty</p>

<form action="/aunty" method="post">
  <input type="text" name="user_input">
  <input type="submit" value="Say It!">
</form>

<p>URL parameters:</p>
<%= params %> -->

<div class="container">
  <h1>Find Anagrams!</h1>
  <p>Give me a word!</p>

  <p> GET COOL URL</p>
<!--   <h3>Here are the words:</h3>
  <div class="anagram">
      <%if @param%>
        <% @param.anagrams_for.each do |text|%>
          <p><%=text%></p>
        <%end%>
      <%end%>
  </div> -->
</div>